<h2 class="text-center" style="color: red;">Game Over</h2>
<p class="text-center">@ViewBag.Message</p>

<div class="text-center">
    <a href="@Url.Action("DungeonDelver", "User")" class="btn btn-primary">Try Again</a>
</div>
