<h2 class="text-center" style="color: gold;">You Win!</h2>
<p class="text-center">@ViewBag.Message</p>

<div class="text-center">
    <a href="@Url.Action("DungeonDelver", "User")" class="btn btn-success">Play Again</a>
</div>
